<div class="sidebar content">
  <div class="container-logo">
    <img class="logo-header" src="../../../assets/img/logo-chat.png"  alt="logo-inteligencia-artificial">
    <div class="conteudo-escrito">
      <h3 class="titulo-logo">Chat<span style="color: #0da7ce;">Bot</span> <br> App & Software</h3>
    </div>
  </div>
    <ul class="lista-nav">
      <li class="item-nav">
        <i class="fa-solid fa-house fa-sm" style="color: #ffffff;"></i>
        <a routerLink="/">Início</a>
      </li>
      <li class="item-nav">
        <i class="fa-solid fa-robot fa-sm" style="color: #ffffff;"></i>
        <a routerLink="/chatbot">ChatBot</a>
      </li>
    </ul>
  </div>
  