.sidebar {
    background-color: #333;
    color: #fff;
    width: 350px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
  }
  
  .container-logo {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ffffff11;
    padding-bottom: 13px;
  }

  .conteudo-escrito {
    display: flex;
    flex-direction: column;
  }

  .logo-header {
    width: 45px;
  }

  .lista-nav {
    list-style: none;
    padding: 0;
    margin-top: 95px;
  }
  
  .item-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 26px;
    border-bottom: 2px solid #ffffff11;
    padding-bottom: 13px;
  }
  
  a {
    color: #fff;
    font-size: 12pt;
    transition: all 450ms ease-in-out;
  }
  
  a:hover {
    color: #0da7ce;
    transition: all 450ms ease-in-out;
  }
  