/* Reset de estilos */

h1 {
    font-size: 24px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
}

.conteudo-titulo-escrito {
    border-bottom: 2px solid #cccccc41;
    padding: 15px 0 25px 0;
    text-align: center;
}

.conteudo-chat {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.chat {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.message {
    padding: 10px;
    border-radius: 5px;
}

.received {
    background-color: #f0f0f0;
    align-self: flex-start;
}

.sent {
    background-color: #28abcc;
    color: #fff;
    align-self: flex-end;
}

.input-container {
    display: flex;
    gap: 10px;
}

.send-msg {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #21aed1;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 450ms ease-in-out;
}

button:hover {
    background-color: #0a69cf;
    transition: all 450ms ease-in-out;
}

