<main>
    <div class="chat-container">
      <div class="conteudo-titulo-escrito">
        <h3>Chat<span style="color: #0da7ce;">Bot</span></h3>
      </div>
  
      <div class="conteudo-chat">
        <div class="chat">
          <div *ngFor="let message of messages" class="message" [class.sent]="message.role === 'sent'" [class.received]="message.role === 'received'">
            <p>{{ message.content }}</p>
          </div>
        </div>
  
        <div class="input-container">
          <input class="send-msg" type="text" [(ngModel)]="userMessage" placeholder="Digite sua mensagem">
          <button id="send-button" (click)="sendMessage()">Enviar</button>
        </div>
      </div>
    </div>
</main>
  